---
layout: layouts/home.njk
permalink: /blog/
eleventyComputed:
  title: "Tous les articles - Bastien Calou"
  description: HTML, CSS, JavaScript, accessibilité, performance...
eleventyNavigation:
  key: Blog
  order: 2
---

<h1>Tous les articles</h1>
{% set postslist = collections.blog %}
{% set tag = "all" %}
{% include "postslist_by_years.njk" %}