---
layout: layouts/home.njk
eleventyNavigation:
  key: Accueil
  order: 1
---

{% set maxPosts = collections.blog.length | min(3) %}
<h1>Derniers articles</h1>
{% set postslist = collections.blog | head(-3) %}
{% set postslistCounter = collections.blog | length %}
{% include "postslist.njk" %}
<p><a href="{{ '/blog/' | url }}">Articles plus anciens</a></p>
