---
permalink: /categories/
layout: layouts/home.njk
---
<h1>Catégories</h1>

{% for tag in collections.tagList %}
  {% set tagUrl %}/categories/{{ tag | slug }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{% endfor %}
