---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - blog
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: "{{ tag }} - Bastien Calou"
  description: Articles du blog de la catégorie « {{ tag }} »
permalink: /categories/{{ tag | slug }}/
---

<h1>#{{ tag | lower }}</h1>
{% set postslist = collections[ tag ] %}
{% include "postslist_by_years.njk" %}
