---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - blog
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /categories/{{ tag | slug }}/
---
<h1>Catégorie « {{ tag }} »</h1>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p>Voir <a href="{{ '/categories/' | url }}">toutes les catégories</a>.</p>
