<div class="postList">
  {% if postslistTitle %}
    <h3>{{ postslistTitle }}</h3>
  {% endif %}
  <ul reversed>
    {% for year in collections.postsByYear %}
      {% if tag == "all" or tag in year.tags %}
        <li>
          {% if (loop.index > 1) %}
            <div class="postList__year">{{ year.posts[0].date.getFullYear() }}</div>
          {% endif %}
          <ul class="postList__group">
            {% for post in year.posts %}
              {% if tag == "all" or tag in post.data.tags %}
                <li class="postList__item{% if post.url == url %} postList__item--active{% endif %}">
                  <a href="{{ post.url | url }}" class="postList__link">
                    {% if post.data.title %}
                      {{ post.data.title | addNbsp | apostrophes | safe }}
                    {% else %}
                      <code>{{ post.url }}</code>
                    {% endif %}
                  </a>
                  <time class="postList__date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
                  <p class="postList__intro">{{ post.data.description | addNbsp | apostrophes | safe }}</p>
                  <div class="postList__footer">
                    <div class="postList__tags">
                      {% for tag in post.data.tags | filterTagList %}
                        {% set tagUrl %}/categories/{{ tag | slug }}/{% endset %}
                        <a href="{{ tagUrl | url }}" class="postTag">#{{ tag | lower }}</a>
                      {% endfor %}
                    </div>
                    <a class="postList__read" href="{{ post.url | url }}">Lire l'article</a>
                  </div>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>