code, kbd {
  font-family: monospace;
  font-size: 0.9em;

  :not(pre) > & {
    background-color: #DDD;
    border-radius: .5rem;
    outline: 0.25rem solid #DDD;
    margin-inline: 0.25rem;
  }
}

pre {
  font-family: monospace;
  color: white;
  background-color: #222;
  margin: 2em 0;
  padding: 1em;
  border-radius: 0.5em;
  overflow: auto;
}

.language-html {
  .tag {
    color: hotpink;
  }

  .comment {
    color: lightgray;
  }

  .attr-name {
    color: palegreen;
  }

  .attr-value {
    color: skyblue;
  }
}

.language-css, .language-scss {
  color: pink;

  .selector {
    color: palegreen;
  }

  .property {
    color: skyblue;
  }

  .punctuation {
    color: white;
  }

  .comment {
    color: lightgrey;
  }
}

.language-js {
  color: palegreen;

  .keyword {
    color: hotpink;
  }

  .operator {
    color: white;
  }

  .constant {
    color: skyblue;
  }

  .string {
    color: orange;
  }

  .property {
    color: lightpink;
  }
}

.language-njk {
  .tag {
    color: palegreen;
  }

  .variable {
    color: hotpink;
  }
}

.language-yaml {
  .atrule {
    color: palegreen;
  }
}