body {
  background-color: white;
  display: flex;
  padding-left: 225px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

header {
  background-color: lightblue;
  width: 225px;
  flex-shrink: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}
