body {
  background-color: var(--white);
  display: flex;
  padding-left: 14rem;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  background-color: var(--blue-darkest);
}

main {
  margin: 5rem;
}

.cp_embed_wrapper {
  margin-block: 2rem;
}
