@use "../config/medias.scss" as *;

body {
  background-color: var(--white);

  @include large {
    display: grid;
    // Don't know why, but 14rem 1fr does not work here
    grid-template-columns: 14rem calc(100% - 14rem);

    main {
      grid-column: 2;
    }

    footer {
      grid-column: 2;
    }
  }

  @include footer-to-right {
    display: flex;
    padding-left: 14rem;
  }
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  background-color: var(--blue-darkest);
}

main {
  margin-block: calc(2rem + var(--main-content-margin));
  width: 100%;

  @include large {
    margin-block: var(--main-content-margin);
  }
}

.cp_embed_wrapper {
  margin-block: 2rem;
}
