body {
  font-family: Arial, sans-serif;
  line-height: 1.42;
  font-size: 1.25rem;
  color: var(--black);
  background: var(--white);
}

h1, h2, h3 {
  font-family: euclid, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 0.005em;
  line-height: 1.25;

  em, i {
    display: inline-block;
    font-style: normal;
    transform: skewX(-11deg);
  }
}

h1 a {
  text-decoration: none;
  text-align: center;
  color: var(--blue);
  letter-spacing: 0.005em;
}

p a {
  text-decoration: underline;
  color: var(--black);
  text-decoration-color: rgb(100, 196, 228);
  text-underline-offset: 0.2rem;
  text-decoration-thickness: 0.2rem;
  text-decoration-skip-ink: none;
  font-weight: bold;
  font-family: euclid;
  line-height: 0;
  position: relative;
  transition: text-decoration-color 0.3s;
  white-space: pre;

  // TODO : only full size
  &::before {
    content: '';
    display: block;
    position: absolute;
    inset: 100% 0 0 0;
    background-color: var(--blue-light);
    z-index: -1;
    transition: inset 0.3s;
  }

  &:hover {
    text-decoration-color: var(--blue-light);
  }

  &:hover::before,
  &:focus-visible::before {
    inset: 0;
  }
}

h1 {
  font-size: 5.625rem;
  margin-bottom: 0.8em;
  max-width: 81.25rem;
}

h2 {
  font-size: 2rem;
  margin: 1.7em 0 0.5em;
  line-height: 1.4;
}

h3 {
  font-size: 1.5rem;
  margin: 1.5em 0 0.5em;
  line-height: 1.3;
}

p, ul, ol {
  margin: 0.75em 0;
  letter-spacing: 0.025em;
  line-height: 1.5;
}

strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

:is(h1, h2, h3, h4, h5, h6):not(:hover) .direct-link {
  display: none;
}

ul, ol {
  list-style-type: disc;
  line-height: 1.7;
  list-style-position: inside;
  padding-left: 2rem;
}

ol {
  list-style-type: numeric;
}

time {
  font-family: euclid;
  color: hsl(0, 0%, 53%);
  font-size: 1.5rem;
  font-weight: bold;
}

q {
  font-style: italic;
}

q::before, blockquote p::before {
  content: '«\00a0';
}

q::after, blockquote p::after {
  content: '\00a0»';
}
