:root {
  --white: hsl(0, 0%, 93%);
  --grey-light: hsl(0, 0%, 87%);
  --grey: hsl(0, 0%, 50.2%);
  --grey-dark: hsl(0, 0%, 40%);
  --black: hsl(0, 0%, 16%);

  --blue-dark: hsl(230, 26%, 14%);
  --blue: hsl(211, 54%, 56%);
  --blue-light: hsl(195, 53%, 79%);
}
