:root {
  --white: hsl(0, 0%, 93%);
  --grey-light: hsl(0, 0%, 87%);
  --grey: hsl(0, 0%, 50.2%);
  --grey-dark: hsl(0, 0%, 40%);
  --black: hsl(0, 0%, 16%);

  --blue-darkest: hsl(230, 26%, 14%);
  --blue-darker: hsl(211, 54%, 30%);
  --blue-dark: hsl(211, 54%, 56%);
  --blue: hsl(195, 60%, 59%);
  --blue-light: hsl(195, 70%, 64%);
  --blue-lighter: hsl(195, 68%, 70%);
  --blue-lightest: hsl(195, 53%, 79%);
  --blue-white: hsl(195, 53%, 90%);

  --green-light: hsl(166.3, 46.7%, 85.6%);
  --green: hsl(167.2, 41%, 64.1%);
  --green-dark: hsl(167.2, 41%, 40%);

  --red: hsl(0, 100%, 36%);
  --red-light: hsl(0, 100%, 95%);
}
