@font-face {
  font-family: euclid;
  src: url("../../assets/fonts/euclid-circular-semibold-complete.woff2"),
    url("../../assets/fonts/euclid-circular-semibold-complete.woff");
  font-weight: bold;
}
