@import './medias.scss';

:root {
  --main-content-width: 58.75rem;
  --main-content-margin: 1.5rem;

  @include large {
    --main-content-margin: 2.5rem;
  }

  @include wide {
    --main-content-margin: 5rem;
  }
}

html,
body {
  scroll-behavior: smooth;
}
