@use "../config/medias.scss" as *;
@use "../blocs/post-element.scss";

.cp_embed_wrapper {
  @extend .postElement;
  box-shadow: var(--shadow);
  background: var(--blue-darkest);
  overflow: hidden;

  @include medium {
    border: 0.125rem solid var(--blue-darkest);
    border-radius: var(--border-radius);
  }
}

.codepen {
  @extend .postElement;
}
