@use "../config/medias.scss" as *;
@use "../blocs/post-element.scss";

pre {
  @extend .postElement;
  position: relative;
  margin-block: 2.5rem;
  display: flex;

  & + &,
  .postAside + & {
    margin-block-start: 3.5rem;
  }

  &::before,
  &::after {
    position: absolute;
    background: linear-gradient(to bottom, #383f62, var(--blue-darkest));
    text-transform: uppercase;
    font-size: 0.875rem;
    right: 1.5rem;
    padding: 0.25rem 0.625rem 0.25rem;
    font-family: euclid, sans-serif;

    @include large {
      font-size: 1rem;
      right: 3rem;
    }
  }

  &::before {
    color: var(--white);
    bottom: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: var(--shadow);
    z-index: -1;
  }

  &::after {
    bottom: calc(100% - 1px);
    color: transparent;
    clip-path: polygon(0 75%, 100% 75%, 100% 100%, 0% 100%);
  }

  code {
    font-family: monospace;
    color: #f5f5f5;
    background-color: var(--blue-darkest);
    padding: 1.25em 1.5em;
    box-shadow: var(--shadow);
    line-height: 1.5;
    overflow-x: auto;
    min-width: 100%;

    @include medium {
      border-radius: 0.5em;
    }

    &::before {
      content: "";
      display: block;
      background: linear-gradient(to right, transparent, var(--blue-darkest));
      position: absolute;
      inset: 1rem 0 1rem auto;
      width: 1.25rem;
    }

    // Dirty fix for Firefox, because padding-right on <code> is not taken in
    // account for horizontal scroll
    br,
    & > span:only-child {
      margin-right: 1.5rem;
    }

    &:has(> span:only-child) {
      padding-right: 0;
    }
    /** End of dirty firefox fix */

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar {
      height: 1rem;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 1rem;
      background: #585f79;
    }
  }
}

pre {
  .tag,
  .rule,
  .keyword,
  .number,
  .boolean,
  .constant {
    // color: hotpink;
    color: #e592a8;
  }

  .attr-name,
  .string,
  .selector {
    // color: #88ffa0;
    color: #b8bb26;
  }

  .attr-value,
  .property,
  .interpolation,
  .parameter,
  .atrule {
    // color: #7ad9ff;
    color: #8db2a4;
  }

  .function,
  .liquid,
  .javascript {
    // color: #fee979;
    color: #ffc642;
  }

  .comment {
    color: #909090;
  }

  .punctuation,
  .operator,
  .attr-equals {
    color: #c5c2c2;
  }
}

pre.language-html,
pre.language-liquid {
  .punctuation {
    color: currentColor;
  }
}

pre.language-html {
  &::before,
  &::after {
    content: "</> html";
    content: "</> html" / "";
  }
}

pre.language-css {
  &::before,
  &::after {
    content: "{ } css";
    content: "{ } css" / "";
  }
}

pre.language-scss {
  &::before,
  &::after {
    content: "{ } scss";
    content: "{ } scss" / "";
  }
}

pre.language-js {
  &::before,
  &::after {
    content: "( ) JS";
    content: "( ) JS" / "";
  }
}

pre.language-yaml {
  &::before,
  &::after {
    content: "# MD";
    content: "# MD" / "";
  }
}

pre.language-liquid {
  &::before,
  &::after {
    content: "{%} liquid";
    content: "{%} liquid" / "";
  }
}

code,
kbd {
  font-family: monospace;
  font-size: 0.85em;
  font-weight: normal;
  letter-spacing: 0.01em;
  isolation: isolate;
  font-style: normal;

  :not(pre) > & {
    --codeBackgroundColor: var(--grey-light);
    position: relative;
    margin-inline: 0.1875rem;
    padding-inline: 0.1875rem;
    overflow-wrap: break-word;
    white-space: nowrap;

    @include large {
      margin-inline: 0.25rem;
    }

    &::before {
      content: "";
      border-radius: 0.4375rem;
      position: absolute;
      background-color: var(--codeBackgroundColor);
      inset: -0.1875rem;
      z-index: -1;

      @include large {
        inset: -0.25rem;
      }
    }
  }

  .postAside > & {
    --codeBackgroundColor: hsl(195deg 17% 87%);
  }

  figcaption > & {
    --codeBackgroundColor: hsl(227deg 5% 35%);
    outline-width: 0.125rem !important;
    margin-inline: 0.125rem;
  }

  blockquote p > & {
    --codeBackgroundColor: hsl(0 0% 93%);
    outline-width: 0.125rem !important;
    margin-inline: 0.125rem;
  }
}
