code, kbd {
  font-family: monospace;
  font-size: 0.9em;
  letter-spacing: 0.01em;
  white-space: pre;

  :not(pre, aside, figcaption, blockquote p) > & {
    background-color: var(--grey-light);
    border-radius: 0.1875rem;
    outline: 0.25rem solid var(--grey-light);
    margin-inline: 0.25rem;
    padding-inline: 0.1875rem;
  }
}

pre {
  position: relative;
  font-family: monospace;
  color: white;
  background-color: var(--blue-dark);
  margin: 2rem 0;
  padding: 1.25em 1.5em;
  border-radius: 0.5em;
  box-shadow: var(--shadow);

  &::before {
    color: var(--white);
    position: absolute;
    background: linear-gradient(to bottom, #383f62, var(--blue-dark));
    text-transform: uppercase;
    font-size: 1rem;
    bottom: 100%;
    right: 3rem;
    padding: 0.25rem 0.625rem 0.25rem;
    border-radius: 0.5rem 0.5rem 0 0;
    font-family: euclid;
    box-shadow: var(--shadow);
    z-index: -1;
  }

  &::after {
    position: absolute;
    background-color: var(--blue-dark);
    background: linear-gradient(to bottom, #383f62, var(--blue-dark));
    bottom: calc(100% - 1px);
    right: 3rem;
    font-family: euclid;
    color: transparent;
    padding: 0.25rem 0.625rem 0.25rem;
    font-size: 1rem;
    text-transform: uppercase;
    clip-path: polygon(0 75%, 100% 75%, 100% 100%, 0% 100%);
  }
}

// TODO: arrondi sur les côtés
// TODO: chaque langage
pre.language-html {
  &::before, &::after {
    content: '</> html'
  }

  .tag {
    color: hotpink;
  }

  .comment {
    color: lightgray;
  }

  .attr-name {
    color: palegreen;
  }

  .attr-value {
    color: skyblue;
  }
}

pre.language-css, .language-scss {
  &::before, &::after {
    content: '{ } css'
  }

  color: pink;

  .selector {
    color: palegreen;
  }

  .property {
    color: skyblue;
  }

  .punctuation {
    color: white;
  }

  .comment {
    color: lightgrey;
  }
}

pre.language-js {
  color: palegreen;

  .keyword {
    color: hotpink;
  }

  .operator {
    color: white;
  }

  .constant {
    color: skyblue;
  }

  .string {
    color: orange;
  }

  .property {
    color: lightpink;
  }
}

pre.language-njk {
  .tag {
    color: palegreen;
  }

  .variable {
    color: hotpink;
  }
}

pre.language-yaml {
  .atrule {
    color: palegreen;
  }
}
