.cp_embed_wrapper {
  margin-block: 2.5rem;
  box-shadow: var(--shadow);
  width: 100%;
  background: var(--blue-darkest);
  border-radius: var(--border-radius);
  border: 0.125rem solid var(--blue-darkest);
}
