.comments {
  margin-top: 4rem;

  form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1.75rem 2rem 2rem;
    border-radius: 0.5rem;
    background: var(--blue-lightest);
  }

  input,
  textarea {
    font-size: 1.125rem;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: 0.025em;
    padding: 0.5rem 1rem;
    background: var(--blue-white);
    border: .0625rem solid #757575;
    border-radius: 0.5rem;
  }

  input {
    width: 100%;
  }

  label {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;

    span {
      font-size: 0.9375rem;
      margin-bottom: 0.375rem;
    }
  }

  textarea {
    width: 100%;
    field-sizing: content;
    min-height: 6rem;
    resize: vertical;
    padding-block: 1rem;

    @supports (field-sizing: content) {
      min-height: 10rem;
    }
  }

  button {
    @extend .postList__read !optional;
    cursor: pointer;
    font-size: 1.25rem;
    width: 100%;
    align-self: end;
  }

  ol {
    list-style: none;
    margin-left: 0;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  li {
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid var(--blue-light);
    background-color: var(--blue-white);
    margin-left: 2rem;
    font-size: 1.125rem;
  }

  time {
    font-size: 1rem;
    font-family: Arial;
    color: var(--grey-dark);
  }
}

.comments__inputs {
  display: flex;
  gap: 2rem;

  & > * {
    flex-basis: 0;
    flex-grow: 1;
  }
}

.comments__formFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comments__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0.5rem;

  svg {
    width: 1rem;
    margin-left: 0.5rem;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      span {
        text-decoration: underline;
        text-underline-offset: 0.125rem;
      }
    }
  }
}

.comments__author {
  font-weight: bold;
  letter-spacing: 0.005em;
}

.comments__content {
  white-space: pre-line;
  word-break: break-word;

  a {
    color: var(--blue-darker);
  }
}
