.directLink {
  text-decoration: none;
  color: var(--blue);
  opacity: 1;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateX(-0.125em);
  display: inline-block;
  padding-inline: 0.25em;

  :is(h1, h2, h3, h4, h5, h6):not(:hover) &:not(:focus) {
    opacity: 0;
    transform: translateX(-0.375em);
  }
}
