@use "../config/medias.scss" as *;
@use "../blocs/post-element.scss";

.figure {
  --max-figure-width: min(
    calc(100vw - 15px - var(--header-width) - 2 * var(--main-content-margin)),
    calc(var(--main-content-width) - 2 * var(--main-content-margin))
  );
  @extend .postElement;
  background: var(--white);
  box-shadow: var(--shadow);
  background-color: var(--blue-darkest);

  @include medium {
    border-radius: var(--border-radius);
    border: 0.125rem solid var(--blue-darkest);
    max-width: var(--max-figure-width);
    overflow: hidden;
    display: inline-flex;
    flex-direction: column;
    width: min-content;
  }

  picture, video {
    width: max-content;

    @include medium {
      max-width: var(--max-figure-width);
    }
  }

  img {
    display: block;
    min-width: 15rem;

    @include below-medium {
      width: 100%;
    }
  }

  figcaption {
    background-color: var(--blue-darkest);
    margin-top: 0;
    color: var(--grey-light);
    padding: 0.25rem 1.25rem;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: 0.02em;

    @include large {
      padding-inline: 0.25rem;
    }

    a {
      color: inherit;
      text-underline-offset: 0.125rem;
      overflow-wrap: anywhere;
    }
  }
}

// Picture not inside a figure
:not(.figure) > :where(picture, video) {
  @extend .postElement;

  img, &:where(video) {
    margin-block: 1.25rem;
    box-shadow: var(--shadow);

    @include below-medium {
      width: 100%;
    }

    @include medium {
      border: 0.125rem solid var(--blue-darkest);
      border-radius: var(--border-radius);
      max-width: calc(100% - 2 * var(--main-content-margin));
    }
  }
}
