:root {
  --figureMaxWidth: min(100vw, var(--main-content-width));
}

.figure {
  max-width: var(--figureMaxWidth);
  margin: 2.5rem 0;
  background: var(--white);
  box-shadow: var(--shadow);
  overflow: hidden;
  border-radius: var(--border-radius);
  border: 0.125rem solid var(--blue-darkest);
  width: fit-content;
  flex-direction: column;
  background-color: var(--blue-darkest);
  
  @media (min-width: 32em) {
    display: grid;
    grid-template-columns: min-content;
  }

  & > :first-child {
    max-width: var(--figureMaxWidth);
    
    @media (min-width: 32em) {
      width: max-content;
    }
  }

  img {
    display: block;
    min-width: 15rem;

    @media (max-width: 31.99em) {
      width: 100%;
    }
  }

  figcaption {
    background-color: var(--blue-darkest);
    margin-top: 0;
    color: var(--grey-light);
    padding: 0.25rem 1.25rem;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: 0.02em;

    @media (min-width: 64em) {
      padding-inline: .25rem;
    }

    a {
      color: inherit;
      text-underline-offset: 0.125rem;
    }
  }
}

 // Picture not inside a figure
:not(.figure) > picture {
  img {
    margin-block: 1.25rem;
    border-radius: var(--border-radius);
    border: 0.125rem solid var(--blue-darkest);
    box-shadow: var(--shadow);
    max-width: var(--figureMaxWidth);
  }
}