:root {
  --figureMaxWidth: min(100vw, var(--main-content-width));
}

.figure {
  max-width: var(--figureMaxWidth);
  margin: 2.5rem 0;
  background: var(--white);
  box-shadow: var(--shadow);
  overflow: hidden;
  width: fit-content;
  flex-direction: column;
  background-color: var(--blue-darkest);
  display: grid;
  border-radius: var(--border-radius);
  border: .125rem solid var(--blue-darkest);

  & > :first-child {
    max-width: var(--figureMaxWidth);

    @media (min-width: 64em) {
      width: max-content;
      grid-template-columns: min-content;
    }
  }

  img {
    display: block;
    min-width: 15rem;
    width: 100%;

    @media (min-width: 32em) {
      width: auto;
    }
  }

  figcaption {
    background-color: var(--blue-darkest);
    margin-top: 0;
    color: var(--grey-light);
    padding: .25rem 1.5rem;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: 0.02em;

    @media (min-width: 64em) {
      padding-inline: .25rem;
    }

    a {
      color: inherit;
      text-underline-offset: .125rem;
    }
  }
}

 // Picture not inside a figure
:not(.figure) > picture {
  img {
    margin-block: 1.25rem;
    box-shadow: var(--shadow);
    max-width: var(--figureMaxWidth);
    border-radius: var(--border-radius);
    border: .125rem solid var(--blue-darkest);
  }
}
