.header {
  padding: 5rem 1.5rem 0;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 14rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--blue-light);

  ul {
    visibility: hidden;
    list-style: none;
    padding-left: 0;
  }

  a {
    text-decoration: none;
    font-family: euclid;
    color: var(--blue);
    font-size: 2rem;
  }
}
