@use "../config/medias.scss" as *;

.originalPost {
  margin-top: 3rem;
  color: var(--grey-dark);

  @include large {
    margin-top: 4rem;
  }

  a {
    color: var(--grey-dark);

    &::after {
      opacity: 0.8;
    }
  }
}
