@use "../config/medias.scss" as *;

.postElement {
  margin-inline: 0 !important;
  margin-block: 2.5rem 3rem;

  @include medium {
    margin-inline: var(--main-content-margin) !important;
    max-width: calc(100% - 2 * var(--main-content-margin));
  }
}
