.postContent {
  max-width: min(var(--main-content-width), 90vw);
  container-type: inline-size;

  aside {
    @extend .aside !optional;
    margin-block: 2.5rem;
    font-style: italic;

    a {
      font-style: normal;
      text-decoration-color: var(--blue-light) !important;

      &::before {
        display: none;
      }
    }
  }

  li + li {
    margin-top: 0.5em;
  }

  ul a {
    @extend .postTag !optional;
  }
}

@media (max-width: 32em) {
  :not(.figure) > picture img,
  .figure,
  pre,
  .cp_embed_wrapper {
    margin-inline: -1.5rem;
    border: none;
    width: 100vw;

    &, & > * {
      border-radius: 0 !important;
    }
  }
}
