.postList {
  list-style: none;
  margin-inline: var(--main-content-margin);
}

.postList__year {
  margin-block-start: 5rem;
  font-size: 3.5rem;
  font-family: Euclid;
  color: hsl(0, 0%, 53%);
}

.postList__group {
  margin-left: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 2em;

  .postTag {
    letter-spacing: 0.03em;
  }
}

.postList__item {
  border-radius: 1rem;
  padding: 1.5rem;
  height: 100%;
  margin-top: 0 !important;
  display: flex;
  flex-direction: column;
  background: hsl(0, 0%, 90%);
  background-color: var(--black);
  color: var(--grey-light);
  gap: 1rem;
  box-shadow: 0.1875rem 0.1875rem 0.625rem hsl(226, 0%, 50%);
  background-color: var(--blue-darkest);

  .postTag {
    color: var(--grey-light);
  }

  &:nth-child(5n-4) {
    grid-column: 1 / -1;

    .postList__footer {
      flex-direction: row;
      align-items: flex-end;
    }
  }

  &:nth-child(5n-3),
  &:first-child:nth-last-child(4),
  &:first-child:nth-last-child(2) {
    grid-column: 1 / 6;

    .postList__footer {
      flex-direction: column;
      align-items: start;
    }
  }

  &:nth-child(5n-2),
  &:nth-child(2):nth-last-child(3),
  &:nth-child(2):last-child {
    grid-column: 6 / -1;
  }

  &:nth-child(5n-1),
  &:nth-child(3):nth-last-child(2) {
    grid-column: 1 / 7;
  }

  &:nth-child(5n),
  &:nth-child(4):last-child {
    grid-column: 7 / -1;
  }
}

.postList__date {
  margin-top: 0.25rem;
  display: inline;
  font-size: 1.1875rem;
  position: relative;
  color: #aaa;
}

.postList__intro {
  margin: -0.5rem 0 auto;
}

.postList__link,
.postList__read {
  transition: box-shadow 0.2s, top 0.2s, left 0.2s, background-color 0.2s,
    color 0.2s;
  position: relative;
  top: 0;
  left: 0;
  border: 2px solid var(--blue);

  &:hover,
  &:focus {
    box-shadow: none;
    background-color: darken(hsl(195, 53%, 79%), 8%);
    color: hsl(0, 0%, 12%);
  }
}

.postList__link {
  font-family: Euclid;
  text-decoration: none;
  color: var(--black);
  display: block;
  font-size: 1.875rem;
  line-height: 1.25;
  background: var(--blue-lightest);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  margin-right: 4px;
  box-shadow: 0.5008px 1px 0 0 var(--blue), 1.5008px 2px 0 0 var(--blue),
    2.5008px 3px 0 0 var(--blue), 3.5008px 4px 0 0 var(--blue),
    4.5008px 5px 0 0 var(--blue), 5.5px 6px 0 0 var(--blue);

  &:hover,
  &:focus {
    top: 5.5px;
    left: 6px;
  }
}

.postList__footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1.5rem;
}

.postList__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
}

.postList__read {
  background: var(--blue-lightest);
  border-radius: 0.25rem;
  width: fit-content;
  padding: 0.125rem 0.5rem;
  color: var(--black);
  font-family: Euclid;
  text-decoration: none;
  flex-shrink: 0;
  box-shadow: 0.0313rem 0.0625rem 0 0 var(--blue),
    0.0938rem 0.125rem 0 0 var(--blue), 0.1563rem 0.1875rem 0 0 var(--blue),
    0.2188rem 0.25rem 0 0 var(--blue), 0.2813rem 0.3125rem 0 0 var(--blue);
  margin-right: 3px;

  &:hover,
  &:focus {
    top: 4.5px;
    left: 5px;
  }
}
