.postList {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2em;

  .postTag {
    letter-spacing: 0.03em;
  }
}

.postList__item {
  border-radius: 1rem;
  padding: 1.5rem;
  height: 100%;
  margin-top: 0 !important;
  display: flex;
  flex-direction: column;
  background: hsl(0, 0%, 90%);
  background-color: var(--black);
  color: var(--grey-light);
  gap: 1rem;
  box-shadow: 0.1875rem 0.1875rem 0.625rem hsl(226, 0%, 50%);
  background-color: var(--blue-darkest);

  .postTag {
    color: var(--grey-light);
  }

  &:nth-child(5n-4) {
    grid-column: 1 / -1;

    .postList__footer {
      flex-direction: row;
    }
  }

  &:nth-child(5n-3) {
    grid-column: 1 / 2;
  }

  &:nth-child(5n-2) {
    grid-column: 2 / 6;
  }

  &:nth-child(5n-1) {
    grid-column: 1 / 3;
  }

  &:nth-child(5n) {
    grid-column: 3 / 6;
  }
}

.postList__date {
  display: inline;
  font-size: 1.1875rem;
  position: relative;
  color: #AAA;
}

.postList__intro {
  margin: -0.5rem 0 auto;
}

.postList__link {
  font-family: Euclid;
  text-decoration: none;
  color: var(--black);
  display: block;
  font-size: 2rem;
  line-height: 1.25;
  background: var(--blue-lightest);
  padding: 1rem 1.5rem;
  border-radius: .875rem;
}

.postList__footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1.5rem;
}

.postList__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
}

.postList__read {
  background: var(--blue-lightest);
  border-radius: .25rem;
  width: fit-content;
  padding: 0.125rem 0.5rem;
  color: var(--black);
  font-family: Euclid;
  text-decoration: none;
  flex-shrink: 0;
}
