@import '../config/medias.scss';

.postContent {
  max-width: var(--main-content-width);
  container-type: inline-size;

  & > * {
    margin-inline: var(--main-content-margin);
  }

  aside {
    @extend .aside !optional;
    margin-block: 2.5rem;
    font-style: italic;

    a {
      font-style: normal;
      text-decoration-color: hsl(195, 60%, 50%) !important;
      text-decoration-color: hsl(195, 100%, 42.5%) !important;

      &::before {
        display: none;
      }
    }
  }

  li + li {
    margin-top: 0.5em;
  }

  ul a {
    @extend .postTag !optional;
  }

  h1, h2, h3, h4, h5, h6 {
    display: inline-block;
    width: 100%;
  }
}
