.postContent {
  max-width: min(var(--main-content-width), 90vw);

  aside {
    @extend .aside !optional;
    margin-block: 2.5rem;
    font-style: italic;

    a {
      font-style: normal;
      text-decoration-color: var(--blue-light) !important;

      &::before {
        display: none;
      }
    }
  }

  li + li {
    margin-top: 0.5em;
  }
}
