.postTags {
  margin-bottom: 4rem;

  @media (min-width: 64em) {
    margin-top: 2rem;
  }

  & > * {
    margin-right: 1rem;
  }

  &::before {
    background-color: var(--blue-lightest);
    font-family: euclid;
    display: inline-block;
    width: 1.85rem;
    height: 1.85rem;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: -0.15rem;
  }
}

.postTag {
  text-decoration: underline;
  color: var(--black);
  text-decoration-color: var(--blue-light);
  text-underline-offset: 0.2rem;
  text-decoration-thickness: 0.2rem;
  text-decoration-skip-ink: none;
  font-weight: bold;
  font-family: euclid;
  position: relative;
  transition: text-decoration-color 0.3s;

  @media (min-width: 64em) {
    white-space: pre;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    inset: 100% 0 0 0;
    background-color: var(--blue-lightest);
    z-index: -1;
    transition: inset 0.3s;
  }

  &:hover,
  &:focus {
    text-decoration-color: var(--blue-lightest);
  }

  &:hover::before,
  &:focus-visible::before {
    inset: 0;
  }
}