@import '../config/medias.scss';

.prevnext {
  max-width: var(--main-content-width);
  margin-inline: var(--main-content-margin);

  ul {
    margin-left: 0;
    max-width: calc(var(--main-content-width) - 2 * var(--main-content-margin));
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(9, 1fr);

    & > * {
      position: relative;
    }
  }
}

.prevnext__next {
  grid-column: 4 / 10 !important;
}

.prevnext__prev {
  grid-column: 1 / 7 !important;
  grid-row: 2;
}

.prevnext__label {
  margin: 0;
  position: absolute;
  z-index: -1;
  width: 18.4375rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: .75rem 2.5rem;
  bottom: 0;
  top: 0;
  color: var(--blue-light);
  background-color: var(--blue-white);
  font-family: Euclid;
  font-size: 2.75rem;
  line-height: 1.1;
  border: .125rem solid var(--blue);
  border-radius: 0.75rem 0 0 0.75rem;

  .prevnext__next > & {
    text-align: right;
    right: 95%;
  }

  .prevnext__prev > & {
    left: 95%;
    border-radius: 0 0.75rem 0.75rem 0;
    padding-left: 3.5rem;
  }
}

.prevnext__arrow {
  font-size: 3.5rem;
  display: inline-block;

  .prevnext__prev & {
    transform: rotate(180deg);
  }
}