.series {
  @extend .aside !optional;

  ol {
    list-style-type: none;
    counter-reset: part;
    padding-left: 0;
    margin-bottom: 0;

    li {
      margin-top: 0;

      &::before {
        counter-increment: part;
        content: counter(part);
        font-family: euclid;
        display: inline-block;
        background: hsl(194, 64%, 87%);
        width: 1.85rem;
        height: 1.85rem;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.5rem;
      }

      &[aria-current="page"] {
        &::before {
          background: white;
        }

        a {
          text-decoration: none;
        }
      }
    }
  }

  a {
    color: var(--black);
    line-height: 2.5;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
      text-decoration-skip-ink: none;
      text-underline-offset: 0.25rem;
      text-decoration-thickness: 0.1rem;
    }
  }

  p {
    margin: 0 0 0.5rem;
    font-family: euclid;
    font-size: 1.5rem;
  }

  // Series at the end of page
  p ~ & {
    margin-block: 5rem;
  }
}

.series__heading {
  color: var(--white);
  position: absolute;
  top: -2.625rem;
  font-family: euclid;
  font-size: 2.5rem;
  text-transform: uppercase;
}
