@import '../config/medias.scss';

.soundcloud {
  margin-block: 2.5rem;
  box-shadow: var(--shadow);

  @include medium {
    border-radius: var(--border-radius);
  }

  @include large {
    margin-inline: 0;
    width: 100%;
    overflow: hidden;
  }
}