@use "../config/medias.scss" as *;

.soundcloud {
  box-shadow: var(--shadow);

  @include medium {
    border-radius: var(--border-radius);
  }

  @include large {
    width: 100%;
    overflow: hidden;
  }
}
