@import '../config/medias.scss';

table {
  margin-block: 1.5em;
  overflow: auto;
  border-collapse: collapse;

  @media (min-width: 30em) {
    width: auto;
  }
}

th {
  text-align: left;
  font-family: Euclid;

  &:first-child {
    border-top: none;
    border-left: none;
  }
}

td, th {
  padding: 0.5em; 
  border: 1px solid var(--grey);
  font-size: 1rem;

  @include medium {
    font-size: clamp(1.0625rem, 2.5vw, 1.25rem);
  }
}

td:first-child {
  font-weight: bold;
  font-family: Euclid;
}
