table {
  margin-block: 1.5em;
  overflow: auto;
  border-collapse: collapse;

  @media (max-width: 30em) {
    width: 100%;
  }
}

th {
  text-align: left;
  font-family: Euclid;

  &:first-child {
    border-top: none;
    border-left: none;
  }
}

td, th {
  padding: 0.5em; 
  border: 1px solid var(--grey);

  @media (max-width: 32em) {
    font-size: 1rem;
  }
}

td:first-child {
  font-weight: bold;
  font-family: Euclid;
}
