table {
  border: 1px solid var(--grey);
  margin-block: 1.5em;
}

th {
  text-align: left;
  font-family: Euclid;
}

td, th {
  padding: 0.5em;
  border: 1px solid var(--grey);
}

td:first-child {
  font-weight: bold;
  font-family: Euclid;
}