@import '../config/medias.scss';

.youtube {
  margin-block: 2.5rem;
  box-shadow: var(--shadow);
  aspect-ratio: 16/9;
  background: var(--blue-darkest);
  border: 0.125rem solid var(--blue-darkest);
  width: calc(100% + 3rem);

  @include large {
    width: 100%;
    border-radius: var(--border-radius);
  }
}