@use "../config/medias.scss" as *;
@use "../blocs/post-element.scss";

.youtube {
  @extend .postElement;
  box-shadow: var(--shadow);
  aspect-ratio: 16/9;
  background: var(--blue-darkest);
  width: 100%;

  @include medium {
    border: 0.125rem solid var(--blue-darkest);
    border-radius: var(--border-radius);
  }
}
