<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta property="og:title" content="{{ title or metadata.title }}"/>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta property="og:description" content="{{ description or metadata.description }}">
    <meta name="generator" content="{{ eleventy.generator }}">
    <meta name="twitter:card" content="summary_large_image"/>
    {% if tags %}
      {% ogImage "_includes/layouts/og_post.njk", { title: title, date: date, tags: tags } %}
    {% else %}
      {% ogImage "_includes/layouts/og.njk" %}
    {% endif %}
    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link
      rel="preload"
      href="../../assets/fonts/euclid-circular-semibold-complete-subset.woff2"
      as="font"
      type="font/woff2"
      crossorigin/>
    <script src="{{ '/js/script.js' | url }}" defer></script>
    <link rel="icon" href="/favicon.png"/>
  </head>
  <body>
    <a href="#main" class="skipLink">Aller directement au contenu</a>
    <header class="header" id="header">
      <a href="/" {% if page.url === "/" %} aria-current="page" {% endif %}>
        <div class="header__image" id="headerImage">
          <div>
            <img
              width="162"
              height="162"
              alt="Bastien Calou"
              srcset="/assets/img/photo-162.webp 162w, /assets/img/photo-324.webp 324w"
              sizes="(min-width: 53em) 10.125rem, 6.25rem"
              src="/assets/img/photo-162.webp"/>
          </div>
        </div>
        <div>
          <div class="header__name">Bastien Calou</div>
          <p class="header__role">Développeur front-end</p>
        </div>
      </a>
    </header>
    <main {% if templateClass %} class="{{ templateClass }}" {% endif %} id="main">
      {{ content | safe }}
    </main>
    <footer class="footer">
      <ul class="footer__social">
        <li>
          <a href="/feed/feed.xml">
            <div class="footer__socialLabel">
              <span>Flux RSS</span>
            </div>
            <svg id="icon-rss" viewbox="0 0 32 32">
              <path
                fill="currentColor"
                d="M25.599 32c0-14.044-11.555-25.6-25.599-25.6v-6.4c17.553 0 32 14.447 32 32zM4.388 23.22c2.419 0 4.391 1.972 4.391 4.393
                  0 2.417-1.98 4.387-4.401 4.387-2.417 0-4.377-1.965-4.377-4.387s1.967-4.392 4.388-4.393zM21.212
                  32h-6.22c0-8.225-6.767-14.993-14.992-14.993v-6.22c11.636 0 21.212 9.579 21.212 21.213z"></path>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://piaille.fr/@bcalou">
            <div class="footer__socialLabel">
              <span>Mastodon</span>
            </div>
            <svg id="icon-mastodon" viewbox="0 0 32 32">
              <path
                fill="currentColor"
                d="M30.924 10.505c0-6.941-4.548-8.976-4.548-8.976-2.293-1.053-6.232-1.496-10.321-1.529h-0.101c-4.091 0.033-8.027
                  0.476-10.32 1.529 0 0-4.548 2.035-4.548 8.976 0 1.589-0.031 3.491 0.020 5.505 0.165 6.789 1.245 13.479 7.521 15.14 2.893
                  0.765 5.379 0.927 7.38 0.816 3.629-0.2 5.667-1.296 5.667-1.296l-0.12-2.633c0 0-2.593 0.817-5.505
                  0.719-2.887-0.099-5.932-0.311-6.399-3.855-0.041-0.29-0.064-0.626-0.064-0.967 0-0.009 0-0.018 0-0.028v0.001c0 0 2.833
                  0.693 6.423 0.857 2.195 0.1 4.253-0.129 6.344-0.377 4.009-0.479 7.5-2.949 7.939-5.207 0.689-3.553 0.633-8.676
                  0.633-8.676zM25.559 19.451h-3.329v-8.159c0-1.72-0.724-2.592-2.171-2.592-1.6 0-2.403 1.035-2.403
                  3.083v4.465h-3.311v-4.467c0-2.048-0.803-3.083-2.403-3.083-1.447 0-2.171 0.873-2.171 2.592v8.159h-3.329v-8.404c0-1.719
                  0.437-3.084 1.316-4.093 0.907-1.011 2.092-1.528 3.565-1.528 1.704 0 2.995 0.655 3.848 1.965l0.828 1.391
                  0.829-1.391c0.853-1.311 2.144-1.965 3.848-1.965 1.472 0 2.659 0.517 3.565 1.528 0.877 1.009 1.315 2.375 1.315 4.093z"></path>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://github.com/bcalou">
            <div class="footer__socialLabel">
              <span>Github</span>
            </div>
            <svg id="icon-github" viewbox="0 0 32 32">
              <path
                fill="currentColor"
                d="M16 0.396c-8.84 0-16 7.164-16 16 0 7.071 4.584 13.067 10.94 15.18 0.8 0.151 1.093-0.344 1.093-0.769
                  0-0.38-0.013-1.387-0.020-2.72-4.451 0.965-5.389-2.147-5.389-2.147-0.728-1.847-1.78-2.34-1.78-2.34-1.449-0.992 0.112-0.972
                  0.112-0.972 1.607 0.112 2.451 1.648 2.451 1.648 1.427 2.447 3.745 1.74 4.66 1.331 0.144-1.035 0.556-1.74
                  1.013-2.14-3.553-0.4-7.288-1.776-7.288-7.907 0-1.747 0.62-3.173 1.647-4.293-0.18-0.404-0.72-2.031 0.14-4.235 0 0
                  1.34-0.429 4.4 1.64 1.28-0.356 2.64-0.532 4-0.54 1.36 0.008 2.72 0.184 4 0.54 3.040-2.069 4.38-1.64 4.38-1.64 0.86 2.204
                  0.32 3.831 0.16 4.235 1.020 1.12 1.64 2.547 1.64 4.293 0 6.147-3.74 7.5-7.3 7.893 0.56 0.48 1.080 1.461 1.080 2.96 0
                  2.141-0.020 3.861-0.020 4.381 0 0.42 0.28 0.92 1.1 0.76 6.401-2.099 10.981-8.099 10.981-15.159 0-8.836-7.164-16-16-16z"></path>
            </svg>
          </a>
        </li>
      </ul>
      <span id="mail" class="footer__mail">&#x62;&#x61;&#x73;&#x74;&#x69;<!--!-->&#x65;&#x6E;&#x2E;&#x63;&#x61;&#x6C;&#x6F;&#x75;&#x40;&#x67;<!--!-->&#x6D;&#x61;&#x69;&#x6C;&#x2E;&#x63;&#x6F;&#x6D;</span>
      <div class="footer__links">
        <a href="https://anaislemercier.com/">design : Anaïs Lemercier</a><br/>
        <a href="https://accessibilite.numerique.gouv.fr/">accessibilité : totalement conforme</a>
      </div>
    </footer>
  </body>
</html>