---
layout: layouts/base.njk
templateClass: tmpl-home
---

<p>Bonjour ! Je m’appelle Bastien et je développe des sites <a href="/a-propos/#resilience">résilients</a>, <a href="/a-propos/#accessibilite">accessibles</a> et <a href="/a-propos/#performance">performants</a>. J’aime structurer des <a href="/a-propos/#architecture">architectures front-end</a> et des <a href="/a-propos/#designsystems">design systems</a> adaptés à chaque projet.</p>

{{ content | safe }}
