---
layout: layouts/base.njk
templateClass: tmpl-post
---

{% set seriesPosts = collections.blog | getSeries(series) %}
<h1>{{ title | addNbsp | apostrophes | safe }}</h1>
{% include "../components/series.njk" %}
<div class="page postContent">
  <div class="postTags">
    {%- for tag in tags | filterTagList -%}
      {%- set tagUrl %}/categories/{{ tag | slug }}/{% endset -%}
      <a href="{{ tagUrl | url }}" class="postTag">#{{ tag | lower }}</a>
    {%- endfor %}
  </div>
  {% if not noDate %}
    <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
  {% endif %}
  {{ content | addNbsp | apostrophes | codeLanguage | safe }}
  {% include "../components/series.njk" %}
  {% if originalPost %}
    <p class="originalPost">Cet article a été initialement publié sur
      <a href="{{ originalPost }}">dev.to</a>
    {% endif %}
  </div>
  {# {%- if collections.blog %}
      {%- set nextPost = collections.blog | getNextCollectionItem(page) %}
      {%- set previousPost = collections.blog | getPreviousCollectionItem(page) %}
      {%- if nextPost or previousPost %}
        <div class="prevnext">
          <h3>Autres articles</h3>
          <ul>
            {%- if nextPost %}
              <li class="postList__item prevnext__next">
                <a href="{{ nextPost.url | url }}" class="postList__link">
                  {% if nextPost.data.title %}
                    {{ nextPost.data.title | addNbsp | apostrophes | safe }}
                  {% else %}
                    <code>{{ nextPost.url }}</code>
                  {% endif %}
                </a>
                <time class="postList__date" datetime="{{ nextPost.date | htmlDateString }}">{{ nextPost.date | readableDate }}</time>
                <p class="postList__intro">{{ nextPost.data.intro | addNbsp | apostrophes | safe }}</p>
                <div class="postList__footer">
                  <div class="postList__tags">
                    {% for tag in nextPost.data.tags | filterTagList %}
                      {% set tagUrl %}/categories/{{ tag | slug }}/{% endset %}
                      <a href="{{ tagUrl | url }}" class="postTag">{{ tag }}</a>
                    {% endfor %}
                  </div>
                  <a class="postList__read" href="{{ nextPost.url | url }}">Lire l'article</a>
                </div>
                <p class="prevnext__label">
                  <span>
                    <span class="prevnext__arrow">➜</span>
                    Plus récent</span>
                </p>
              </li>
            {% endif %}
            {%- if previousPost %}
              <li class="postList__item prevnext__prev">
                <a href="{{ previousPost.url | url }}" class="postList__link">
                  {% if previousPost.data.title %}
                    {{ previousPost.data.title | addNbsp | apostrophes | safe }}
                  {% else %}
                    <code>{{ previousPost.url }}</code>
                  {% endif %}
                </a>
                <time class="postList__date" datetime="{{ previousPost.date | htmlDateString }}">{{ previousPost.date | readableDate }}</time>
                <p class="postList__intro">{{ previousPost.data.intro | addNbsp | apostrophes | safe }}</p>
                <div class="postList__footer">
                  <div class="postList__tags">
                    {% for tag in previousPost.data.tags | filterTagList %}
                      {% set tagUrl %}/categories/{{ tag | slug }}/{% endset %}
                      <a href="{{ tagUrl | url }}" class="postTag">{{ tag | lower }}</a>
                    {% endfor %}
                  </div>
                  <a class="postList__read" href="{{ previousPost.url | url }}">Lire l'article</a>
                </div>
                <p class="prevnext__label">
                  <span>
                    <span class="prevnext__arrow">➜</span><br/>Plus ancien</span>
                </p>
              </li>
            {% endif %}
          </ul>
        </div>
      {%- endif %}
    {%- endif %} #}