---
layout: layouts/base.njk
templateClass: tmpl-post
---

{% set seriesPosts = collections.blog | getSeries(series) %}
<h1>{{ title | addNbsp | apostrophes | safe }}</h1>
{% include "../components/series.njk" %}
<div class="page postContent">
  <div class="postTags">
    {%- for tag in tags | filterTagList -%}
      {%- set tagUrl %}/categories/{{ tag | slug }}/{% endset -%}
      <a href="{{ tagUrl | url }}" class="postTag">#{{ tag | lower }}</a>
    {%- endfor %}
  </div>
  {% if not noDate %}
    <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
  {% endif %}
  {{ content | addNbsp | apostrophes | codeLanguage | safe }}
  {% include "../components/series.njk" %}
  {% if originalPost %}
    <p class="originalPost">Cet article a été initialement publié sur
      <a href="{{ originalPost }}">dev.to</a>
    {% endif %}
  </div>
