---
layout: layouts/base.njk
templateClass: tmpl-post
---

{% set seriesPosts = collections.blog | getSeries(series) %}
<h1>{{ title | addNbsp | apostrophes | safe }}</h1>
{% include "../components/series.njk" %}
<div class="page postContent">
  <div class="postTags">
    {%- for tag in tags | filterTagList -%}
      {%- set tagUrl %}/categories/{{ tag | slug }}/{% endset -%}
      <a href="{{ tagUrl | url }}" class="postTag">#{{ tag | lower }}</a>
    {%- endfor %}
  </div>
  {% if not noDate %}
    <time class="postContent__date" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
  {% endif %}
  {{ content | addNbsp | apostrophes | codeLanguage | safe }}
  {% include "../components/series.njk" %}
  {% if originalPost %}
    <p class="originalPost">Cet article a été initialement publié sur
      <a href="{{ originalPost }}">dev.to</a>
    {% endif %}
    {% set commentsCount = comments | countComments(page) %}
    {% set coms = comments | getComments(page) %}
    <div class="comments">
      <h2>
        <span aria-hidden="true" class="comments__emoji">✍️</span>
        {% if commentsCount === 0 %}Aucun commentaire pour le moment
        {% else %}
          {{ commentsCount }} commentaire{% if commentsCount > 1 %}s{% endif %}
        {% endif %}
      </h2>
      <form name="comment" method="POST" data-netlify="true" netlify-honeypot="test">
        <input type="hidden" name="form-name" value="comment"/>
        <div class="comments__answering" aria-live="assertive">
          <button class="comments__answeringCancel">
            <svg id="icon-cancel-circle" viewBox="-2 -2 34 34">
              <title>Désactiver le mode réponse</title>
              <path d="M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM16 29c-7.18 0-13-5.82-13-13s5.82-13 13-13
                13 5.82 13 13-5.82 13-13 13z"></path>
              <path d="M21 8l-5 5-5-5-3 3 5 5-5 5 3 3 5-5 5 5 3-3-5-5 5-5z"></path>
            </svg>
          </button>
          En réponse à
          <q class="comments__answeringContent"></q>
        </div>
        <div class="comments__status comments__status--success" aria-live="assertive">
          <svg id="icon-check" viewBox="0 0 24 24">
            <path d="M19.293 5.293l-10.293 10.293-4.293-4.293c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414l5 5c0.391 0.391 1.024
              0.391 1.414 0l11-11c0.391-0.391 0.391-1.024 0-1.414s-1.024-0.391-1.414 0z"></path>
          </svg>
          Merci ! Votre commentaire a bien été enregistré et apparaîtra prochainement.
        </div>
        <div class="comments__status comments__status--error" aria-live="assertive">
          <svg id="icon-error_outline" viewBox="0 0 24 24">
            <path d="M12 20.016q3.281 0 5.648-2.367t2.367-5.648-2.367-5.648-5.648-2.367-5.648 2.367-2.367 5.648 2.367 5.648 5.648 2.367zM12
              2.016q4.125 0 7.055 2.93t2.93 7.055-2.93 7.055-7.055 2.93-7.055-2.93-2.93-7.055 2.93-7.055 7.055-2.93zM11.016
              6.984h1.969v6h-1.969v-6zM11.016 15h1.969v2.016h-1.969v-2.016z"></path>
          </svg>
          <span>Désolé... Il semble y avoir eu un problème. Je vous saurai reconnaissant de
            <a href="https://piaille.fr/@bcalou">m'en alerter</a>
            et de réessayer plus tard !</span>
        </div>
        <div class="comments__inputs">
          <label>
            <span>Votre nom / pseudo (requis)</span><input name="name" required autocomplete="name"/></label>
          <label>
            <span>Une URL où vous suivre ?</span><input type="url" name="url"/></label>
          <label class="comments__emptyField">
            <span>Laissez ce champ vide</span>
            <input name="test"/>
          </label>
        </div>
        <label>
          <span>Votre commentaire (requis)</span>
          <textarea rows="5" name="comment" required></textarea>
        </label>
        <input hidden name="answering"/>
        <div class="comments__formFooter">
          <small>En validant, vous acceptez que
            <a href="https://www.netlify.com/gdpr-ccpa/">Netlify</a>
            stocke les données liées à votre commentaire.
          </small>
          {# <small>Ce blog est généré statiquement via Eleventy. Votre commentaire y sera visible très prochainement !</small> #}
          <button class="comments__submit">Envoyer</button>
        </div>
      </form>
      {% include "../components/comments.njk" %}
    </div>
  </div>